<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net45" />
  <package id="GMap.Net" version="1.0.1" targetFramework="net45" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.13" targetFramework="net452" />
</packages>